@media (max-width: 1200px) {
  .GridContainer {
    grid-template-columns: repeat(3, 1fr); /* 3 columnas en pantallas medianas */
  }
}

@media (max-width: 800px) {
  .GridContainer {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .GridContainer {
    grid-template-columns: 1fr; /* 1 columna en pantallas muy pequeñas */
  }
}